@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 Ubuntu, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  flex-wrap: wrap;
}

header {
  background-color: #18294f;
  color: #fff;
}

header h1 {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: .5rem;
}

nav ul {
  list-style-type: none;
  font-size: 1.125rem;
  padding: 0 .75rem;
  align-items: center;
}

li {
  padding: .5rem 0;
  justify-content: center;
  font-weight: bold;
}

nav a {
  color: #6c8fe0;
  text-decoration: none;
  white-space: nowrap;
}

nav a:hover {
  color: #fff;
  background-color: #6c8fe0;
}

@media only screen and (min-width: 25em) {

  li {
    display: inline-block;
    width: 49%;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
    margin-bottom: 1.4rem;
  }

  ul {
    display: flex;
  }

  li {
    width: 50%;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  header {
    display: flex;
  }

  ul {
    margin: 0;
  }

  li {
    justify-content: center;
    text-align: center;
    margin: 1rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
  }

  nav {
    text-align: right;
  }

  li {
    width: 25%;
  }

}
